<div class="container">
  <div
    class="navbar1 d-flex align-items-center justify-content-between ps-2 pe-3"
  >
    <div>
      <img src="../../assets/logo.png" alt="" class="logo" />
    </div>
    <div class="dropdown">
      <button
        class="btn"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="fa-regular fa-compass text-light fs-1"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Contattaci</a></li>
        <li><a class="dropdown-item" href="#">Chi siamo</a></li>
        <li><a class="dropdown-item" href="#">Contattaci</a></li>
      </ul>
    </div>
  </div>
</div>
