/* You can add global styles to this file, and also import other style files */
body{
  background-color: #314949;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

.text-green{
  color: #20CD8D;
}
