<div class="container home ">
  <div class="flexata d-flex flex-column justify-content-center gap-3 align-items-start h-100 w-100">
    <div>
      <div class="titolo">DigitalVerse</div>
      <div
        class="btn-contattaci d-flex align-items-center justify-content-center gap-1"
      >
        Contattaci <i class="fa-solid fa-arrow-right-long"></i>
      </div>
      <div class="text-center w-75 fs-2 mt-3 arrow" style="color: #20CD8D;">
        <i class="fa-solid fa-angles-down"></i>
      </div>
    </div>

    <div>
      <img src="../../assets/home.png" alt="" class="img-jumbo">
    </div>
  </div>
</div>
