.titolo{
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.btn-contattaci{
  width: 240px;
  height: 39px;
  border-radius: 20px;
  background-color: #20CD8D;
  font-weight: 700;
  font-size: 19px;
}

.img-jumbo{
  width: 350px;
}

.home{
  height: 88vh;
}

@media screen and (min-width: 425px){
  .titolo{
    font-size: 60px;
  }
  .btn-contattaci{
    width: 280px;
    height: 48px;
    font-size: 23px;
  }

  .img-jumbo{
    width: 100%;
  }
}

@media screen and (min-width: 576px){
  .titolo{
    font-size: 65px;
  }
  /* .btn-contattaci{
    width: 280px;
    height: 48px;
    font-size: 23px;
  } */

  .img-jumbo{
    width: 430px;
  }
}

@media screen and (min-width: 768px){
  .titolo{
    font-size: 65px;
  }

  .img-jumbo{
    width: 600px;
    margin: auto;
  }
}

@media screen and (min-width: 992px){
  .flexata{
    flex-direction: row !important;
    align-items: center !important;
  }

  .titolo{
    font-size: 80px;
  }

  .img-jumbo{
    width: 500px;
    margin: auto;
  }

  .home{
    height: 80vh;
  }

  .arrow{
    width: 200px !important;
  }
}

@media screen and (min-width: 1200px){

  .titolo{
    font-size: 85px;
  }

  .img-jumbo{
    width: 550px;
    margin: auto;
  }

  .home{
    height: 80vh;
  }

  .arrow{
    width: 200px !important;
  }
}

@media screen and (min-width: 1400px){

  .titolo{
    font-size: 100px;
  }

  .img-jumbo{
    width: 630px;
    margin: auto;
  }

  .home{
    height: 80vh;
  }

  .arrow{
    width: 200px !important;
  }

  .btn-contattaci{
    width: 350px;
    height: 55px;
    font-size: 30px;
  }

  .container{
    max-width: 1400px !important;
  }




}






/*  */
