.titolo{
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.btn-contattaci{
  width: 240px;
  height: 39px;
  border-radius: 20px;
  background-color: #20CD8D;
  font-weight: 700;
  font-size: 19px;
}

.img-jumbo{
  width: 350px;
}

.home{
  height: 80vh;
}








/*  */
